#navbar {
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    display: flex;
  }
    
  .navbar-items .notification-bar {
    color: white;
    padding: 14px 16px;
  }
  
  .navbar-items .notification-bar:hover:not(.active) {
    background-color: #333;
  }

  /* @media screen and (max-width: 500px) {
    #navbar {
     width: 150%;
    }
    
  }

  @media screen and (max-width: 450px) {
    #navbar {
     width: 150%;
    }
    
  } */